@model WebApplication1.Models.WebBrowser
@{
    ViewData["Title"] = "Home Page";  
    
}

<div class="text-center">

    <button type="button"><</button><button type="button"> > </button><input asp-for="URL" type="text" id="fname" name="fname"> <button  value="Submit" type="button">↻</button>
    <iframe src=@ViewBag.Message.URL width="400" height="500"></iframe>


    

    

</div>

@section Scripts
    {
    <script src="@Url.Content("~/app.js")"></script>
}
